@charset "UTF-8";
#hellopreloader > p {
  display: none;
}

#hellopreloader_preload {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background: #9794A6 url(https://coddmac.store/Reka/oval.svg) center center no-repeat;
  background-size: 76px;
}

#welcome-text {
  font-family: "MoscowSans", sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 72px;
  height: 100%;
}

@font-face {
  font-family: "MoscowSans";
  src: url("../fonts/moscowsansregular.ttf") format("truetype");
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  font-family: "MoscowSans", sans-serif;
  background-color: #9794A6;
}

body::-webkit-scrollbar {
  background-color: #9794A6;
  width: 0.4em; /* Ширина полосы прокрутки (по желанию) */
}

body::-webkit-scrollbar-thumb {
  background-color: #7A768D; /* Цвет полосы прокрутки (по желанию) */
}

h1 {
  margin: 0;
  width: 100%;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 700;
}

h2 {
  margin: 0;
  width: 100%;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 700;
}

h3 {
  margin: 0;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

p {
  width: 100%;
  font-size: 1.125em;
  line-height: 1.3rem;
}

.d-block {
  display: block;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.align-self-fs {
  align-self: flex-start;
}

.row-gap-10 {
  row-gap: 10px;
}

.col-gap-10 {
  column-gap: 10px;
}

.bg-grey-grad {
  background: linear-gradient(287.08deg, #A19FAE 11.76%, #ACAABA 90.75%);
}

.bg-grey-grad05 {
  background: linear-gradient(287.08deg, rgba(161, 159, 174, 0.5) 11.76%, rgba(172, 170, 186, 0.5) 90.75%);
}

.fg-1 {
  flex-grow: 1;
}

.fs-15 {
  font-size: 1.5rem;
  line-height: 1.95rem;
}

.fs-1125 {
  font-size: 1.125rem;
  line-height: 1.45rem;
}

.bold {
  font-weight: 600;
}

.mt-0 {
  margin-top: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pl-70 {
  padding-left: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.text-grey {
  color: #9794A6;
}

.btn-grey {
  background-color: #9794A6;
}

.bg-grey {
  background-color: #9794A6;
}

.text-secondary-grey {
  color: #D1D1D1;
}

.btn-secondary-grey {
  background-color: #D1D1D1;
}

.bg-secondary-grey {
  background-color: #D1D1D1;
}

.text-light-grey {
  color: #A19FAE;
}

.btn-light-grey {
  background-color: #A19FAE;
}

.bg-light-grey {
  background-color: #A19FAE;
}

.text-dark-grey {
  color: #7A768D;
}

.btn-dark-grey {
  background-color: #7A768D;
}

.bg-dark-grey {
  background-color: #7A768D;
}

.text-white {
  color: #FFFFFF;
}

.btn-white {
  background-color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-black {
  color: #000000;
}

.btn-black {
  background-color: #000000;
}

.bg-black {
  background-color: #000000;
}

.text-asphalt {
  color: #403F3C;
}

.btn-asphalt {
  background-color: #403F3C;
}

.bg-asphalt {
  background-color: #403F3C;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

.row-1 {
  grid-row: span 1;
}

.row-2 {
  grid-row: span 2;
}

.row-3 {
  grid-row: span 3;
}

.row-4 {
  grid-row: span 4;
}

.row-5 {
  grid-row: span 5;
}

.row-6 {
  grid-row: span 6;
}

.row-7 {
  grid-row: span 7;
}

.row-8 {
  grid-row: span 8;
}

.row-9 {
  grid-row: span 9;
}

.row-10 {
  grid-row: span 10;
}

.row-11 {
  grid-row: span 11;
}

.row-12 {
  grid-row: span 12;
}

@media (max-width: 1024px) {
  p {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 3.3rem;
    line-height: 3.65rem;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
  .fs-125-tab {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  .fs-1-tab {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .fs-1125-tab {
    font-size: 1.125rem;
    line-height: 1.45rem;
  }
  .fs-0875-tab {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
@media (max-width: 900px) and (max-width: 440px) {
  h1 {
    font-size: 2.3rem;
    line-height: 2.4rem;
  }
  .p-30-mob {
    padding: 30px;
  }
}
.circle {
  display: block;
  height: 6.2%;
  width: 4%;
  background-color: transparent;
  border-radius: 50%;
  z-index: 200;
}

.circle-hover-img {
  opacity: 0;
  transition: opacity 0.7s;
}

.modal-body img:not(:first-child) {
  width: 191px;
  border-radius: 20px;
}

.filter-white {
  filter: invert(99%) sepia(6%) saturate(0%) hue-rotate(197deg) brightness(117%) contrast(100%);
}

.sepia-grey-grad:hover {
  background: url("/public/images/sepia.png"), linear-gradient(287.08deg, rgb(161, 159, 174) 11.76%, rgb(172, 170, 186) 90.75%);
}

.sepia-black:hover {
  background: url("/public/images/sepia.png"), #000000;
}

.sepia-grey:hover {
  background: url("/public/images/sepia.png"), rgba(161, 159, 174, 0.5);
}

.opacity-1 {
  opacity: 1;
}

.height-1 {
  height: 100%;
}

.width-1 {
  width: 100%;
}

.max-width-400 {
  max-width: 400px;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.flex-11auto {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1400px;
  margin: auto;
  position: relative;
}

.btn {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-12-rows {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.card {
  position: relative;
  overflow: clip;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 40px;
  transition: 0.7s;
}
.card:hover {
  filter: brightness(110%);
}
.card:hover .card-img {
  transform: scale(1.05);
}

.card-sm {
  height: 400px;
}

.card-large {
  height: 100%;
}

.card-faq {
  height: 455px;
}

.card-disabled {
  opacity: 0.7;
}
.card-disabled:hover {
  filter: none;
}
.card-disabled:hover .card-img {
  transform: none;
}
.card-disabled > * {
  cursor: default;
}

.card-img {
  transition: transform 0.5s ease;
}

.card-bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-center-img {
  position: absolute;
  right: 0;
  bottom: 64px;
  max-width: 260px;
}

.card-content {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  position: absolute;
  width: 414px;
  bottom: 30px;
  right: 30px;
  border-radius: 40px;
  backdrop-filter: blur(8px);
}

.card-flex-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.card-flex-wrapper .card {
  flex: 1 1 0;
}

.btn-link {
  background-color: #000000;
  width: 190px;
  opacity: 1;
  z-index: 10;
  transition: 0.7s;
}
.btn-link:hover {
  opacity: 0.7;
}
.btn-link:hover .rotation-icon {
  transform: rotate(-30deg) translateZ(0);
}

.rotation-icon {
  transition: transform 0.7s ease;
}

.btn-link-footer {
  background-color: #A19FAE;
  width: 320px;
}
.btn-link-footer:hover {
  opacity: 1;
}

.route-number {
  align-self: flex-start;
}

.logos-flex-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-links-wrapper {
  margin-right: auto;
  margin-left: auto;
}

.footer-links-wrapper-tab {
  display: none;
}

.footer-list {
  list-style: none;
  padding-inline-start: 0;
}

.footer-list-item {
  width: fit-content;
  margin-bottom: 5px;
}
.footer-list-item:hover .footer-link {
  color: #FFFFFF;
}

.footer-link {
  color: #D1D1D1;
  display: block;
  text-decoration: none;
}

.footer-contacts {
  text-align: right;
}

.bg-pier {
  background-image: url("/public/images/pier.png");
  background-position: center;
  background-size: cover;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.img-responsive60 {
  display: block;
  width: 60%;
  height: auto;
}

.card-body-disabled {
  opacity: 0;
  height: 0;
  transition: opacity 0.7s;
}
.card-body-disabled > * {
  display: none;
}

.card-body-active {
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: opacity 0.7s;
}

.d-none {
  display: none;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-bg {
  position: absolute;
  background-color: rgba(64, 63, 60, 0.9);
  width: 100%;
  height: 100%;
}

.modal-container {
  position: relative;
  width: 60%;
}

.modal-close {
  padding: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: red;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .mt-20-descsemi {
    margin-top: 20px;
  }
  .mb-20-descsemi {
    margin-bottom: 20px;
  }
  .mt-10-descsemi {
    margin-top: 10px;
  }
  .mb-10-descsemi {
    margin-bottom: 10px;
  }
  .col-6-descsemi {
    grid-column: span 6;
  }
}
@media (max-width: 1024px) {
  .mt-20-htab {
    margin-top: 20px;
  }
  .mb-20-htab {
    margin-bottom: 20px;
  }
  .card-center-img {
    max-width: 180px;
    bottom: 120px;
  }
  .card-large {
    justify-content: flex-end;
  }
  .card-content {
    position: relative;
    width: auto;
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 900px) {
  .card-content {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 414px;
  }
  .d-none-tab {
    display: none;
  }
  .mb-50-tab {
    margin-bottom: 50px;
  }
  .d-flex-tab {
    display: flex;
    flex-direction: row;
  }
  .d-flex-col-tab {
    display: flex;
    flex-direction: column;
  }
  .gap10-tab {
    gap: 10px;
  }
  .img-responsive75-tab {
    width: 75%;
    height: auto;
  }
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
  .modal-close {
    padding: 0;
  }
  .card-large {
    height: 500px;
  }
  .card-flex-wrapper {
    flex-direction: column;
  }
  .card-flex-wrapper .card-faq {
    flex: 1 1 256px;
  }
  .card-center-img {
    max-width: 160px;
    bottom: 30px;
  }
  .footer-links-wrapper > * {
    display: none;
  }
  .footer-links-wrapper-tab {
    display: flex;
    justify-content: space-between;
  }
  .footer-link {
    color: #FFFFFF;
  }
  .btn-link-footer {
    width: 100%;
  }
  .modal-container {
    width: 75%;
  }
}
@media (max-width: 440px) {
  .mb-20-mob {
    margin-bottom: 20px;
  }
  .mb-40-mob {
    margin-bottom: 40px;
  }
  .mt-50-mob {
    margin-top: 50px;
  }
  .pt-30-mob {
    padding-top: 30px;
  }
  .px-30-mob {
    padding-right: 30px;
    padding-left: 30px;
  }
  .d-none-mob {
    display: none;
  }
  .d-block-mob {
    display: block;
  }
  .d-flex-col-mob {
    display: flex;
    flex-direction: column;
  }
  .d-flex-col-mob {
    display: flex;
    flex-direction: column;
  }
  .gap10-mob {
    gap: 10px;
  }
  .card {
    padding: 20px;
  }
  .card-large {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .card-content {
    position: relative;
    width: auto;
    right: 0;
    bottom: 0;
  }
  .card-flex-wrapper .card-faq {
    flex: 1 1 350px;
  }
  .card-center-img {
    bottom: 75px;
  }
  .logos-flex-wrapper {
    justify-content: center;
  }
  .footer-contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.video_progress_container {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
}

.progress-container {
  position: relative;
  max-width: 270px;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  opacity: 0.5;
  background: #9794A6;
  transition: background-color 0.4s; /* Добавляем переход для background-color */
  margin: 0 28px;
}

.progress-container:nth-child(2):before,
.progress-container:not(:last-child):after,
.video_progress_container .dots_card {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  z-index: 1;
  border-radius: 100%;
  opacity: 0.5;
  background: #9794A6;
}

.progress-container:not(:last-child):after {
  right: -48px;
  transition: background-color 0.4s;
}

.progress-container:nth-child(2):before {
  left: -48px;
  opacity: 1;
  background-color: #FFFFFF;
  background-image: url("/public/images/icons/boatVideo.svg");
}

.progress-bar {
  height: 100%;
  width: 0;
  border-radius: 2px;
  background: #FFF;
  opacity: 1;
  transition: width 0.4s;
}

.progress-container.filled:after {
  background-color: #FFF;
  opacity: 1;
}

.video_content {
  position: absolute;
  width: 100%;
  z-index: 16;
  transition: opacity 0.5s;
}

.video_content .mouse_prev .mouse_prev-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 74px;
  width: 25px;
  height: 40px;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
}

.video_content .mouse_prev .mouse_prev-wrapper .mouse_prev_arrow {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.video_content .mouse_prev .mouse_prev-wrapper .mouse_prev_arrow img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  animation: mouse_arrow 1.1s linear infinite;
}

.video_content .mouse_prev .mouse_prev-wrapper .mouse_prev_dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: #FFFFFF;
}

@keyframes mouse_arrow {
  0% {
    top: 5px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 5px;
  }
}
.video_content .leave_button {
  position: fixed;
  top: 82px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.video_content .leave_button button {
  font-family: "MoscowSans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding: 0;
  color: white;
  background: transparent;
  cursor: pointer;
}

.video_content .reload_button {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 144px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.video_content .reload_button button {
  font-family: "MoscowSans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  color: white;
  background: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.video_content .info_block,
.video_content .mouse_prev {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.video_content .info_block .card {
  position: absolute;
  max-width: 474px;
  width: max-content;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-radius: 20px;
  background: linear-gradient(292deg, rgba(161, 159, 174, 0.5) 0%, rgba(172, 170, 186, 0.5) 100%);
  backdrop-filter: blur(10px);
  bottom: 144px;
  left: 50%;
  transform: translateX(-50%);
}

.video_content .info_block .card .card_marker {
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
}

.video_content .info_block .card .card_marker .card_marker-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video_content .info_block .card .card_descr .card_descr-text,
.video_content .info_block .card .card_descr .card_descr-title {
  font-family: "MoscowSans", sans-serif;
  margin: 0;
}

.video_content .info_block .card .card_descr .card_descr-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 600;
  color: #ffffff;
}

.video_content .info_block .card .card_descr .card_descr-text {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #CBCBCD;
  margin-bottom: 10px;
}

.video_content .info_block .card.animateUp {
  animation: CardUp 0.5s linear;
}

.video_content .info_block .card.animateDown {
  animation: CardDown 0.5s linear;
}

/*Поднимает кнопку снизу вверх на px*/
@keyframes CardUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 144px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
/*Появление сверху вниз*/
@keyframes CardDown {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 144px);
  }
}
.section-video {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}

.section-video_active {
  display: block;
}

@media (max-width: 1920px) {
  .video_content .reload_button {
    left: 20px;
  }
}
@media (max-width: 1670px) {
  .video_content .reload_button {
    top: 70px;
    bottom: unset;
  }
}
@media (max-width: 520px) {
  .video_content .info_block .card {
    padding: 26px;
  }
  .video_content .info_block .card .card_marker {
    margin-right: 16px;
  }
  .video_content .info_block .card .card_descr .card_descr-text {
    font-size: 18px;
    line-height: 18px;
  }
  .video_content .info_block .card .card_descr .card_descr-title {
    font-size: 28px;
    line-height: 28px;
  }
}
@media (max-width: 440px) {
  .video_content .mouse_prev .mouse_prev-wrapper {
    bottom: 90px;
  }
  .video_content .info_block .card {
    padding: 20px;
  }
  .video_content .info_block .card .card_marker {
    margin-right: 14px;
  }
  .video_content .info_block .card .card_descr .card_descr-text,
  .video_content .info_block .card .card_descr .card_descr-title {
    max-width: 180px;
  }
  .video_content .info_block .card .card_descr .card_descr-text {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 7px;
  }
  .video_content .info_block .card .card_descr .card_descr-title {
    font-size: 22px;
    line-height: 22px;
  }
}
html.a-fullscreen {
  position: static !important;
}

html.a-fullscreen.position {
  position: fixed !important;
}

html.a-fullscreen body {
  overflow: auto;
}

.aframeOne, .aframeTwo,
#aframeHTMLOne, #aframeHTMLTwo {
  height: 100%;
  width: 100%;
}

a-scene {
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  position: relative;
}

#scenePier {
  height: 100%;
  width: 100%;
}

#aframe_rollupPier,
#aframe_rollupSinich {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 24px 30px;
  background: rgba(26, 27, 29, 0.7);
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

.card-content {
  z-index: 1;
}

.a-enter-vr-button {
  display: none !important;
}

.vectary {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vectary .tech_speck {
  position: absolute;
  display: flex;
  left: 80px;
  bottom: 62px;
  border-radius: 20px;
  border: 2px solid #b9b8c4;
  background: linear-gradient(290deg, rgba(161, 159, 174, 0.8) 0%, rgba(172, 170, 186, 0.8) 100%);
  backdrop-filter: blur(10px);
}

.vectary .tech_speck .tech_speck-click {
  display: none;
}

.vectary .tech_speck div[class^=tech_speck-] {
  padding: 32px 50px 32px 30px;
}

.vectary .tech_speck div[class^=tech_speck-] p {
  font-family: "MoscowSans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #FFF;
  margin: 0;
}

.vectary .tech_speck div[class^=tech_speck-] p.tech_speck-title {
  font-weight: 300;
}

.vectary .tech_speck div[class^=tech_speck-] p.tech_speck-text {
  font-weight: 800;
}

.vectary .tech_speck div[class^=tech_speck-]:not(:last-child) {
  border-right: 1px solid #b9b8c4;
  position: relative;
}

.vectary .tech_speck div[class^=tech_speck-]:not(:last-child):before,
.vectary .tech_speck div[class^=tech_speck-]:not(:last-child):after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FFFFFF;
  right: -3px;
}

.vectary .tech_speck div[class^=tech_speck-]:not(:last-child):before {
  top: -2px;
}

.vectary .tech_speck div[class^=tech_speck-]:not(:last-child):after {
  bottom: -2px;
}

.vectary .interior_button {
  position: absolute;
  bottom: 64px;
  right: 80px;
  padding: 45px;
  border: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  font-family: "MoscowSans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
  transition: 0.7s;
}

.vectary .interior_button img {
  margin-right: 8px;
  transition: transform 0.7s ease;
}

.vectary .interior_button:hover {
  background: url("/public/images/sepia.png"), #000000;
}

.vectary .interior_button:hover img {
  transform: rotate(-30deg) translateZ(0);
}

@media (max-width: 1440px) {
  .vectary .tech_speck {
    left: 40px;
    bottom: 31px;
  }
  .vectary .tech_speck div[class^=tech_speck-] {
    padding: 20px 30px 20px 20px;
  }
  .vectary .interior_button {
    bottom: 41px;
    right: 40px;
    padding: 22px;
  }
}
@media (max-width: 1200px) {
  .vectary .tech_speck div[class^=tech_speck-] p {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .vectary .tech_speck {
    left: 30px;
    bottom: 30px;
  }
  .vectary .tech_speck div[class^=tech_speck-] {
    padding: 30px;
  }
  .vectary .interior_button {
    padding: 24px 30px;
    font-size: 15px;
    left: 24px;
    top: 30px;
    bottom: unset;
    right: unset;
  }
}
@media (max-width: 840px) {
  .vectary .tech_speck div[class^=tech_speck-] {
    padding: 14px;
  }
  .vectary .tech_speck div[class^=tech_speck-] p {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .vectary .interior_button {
    padding: 10px 30px;
    font-size: 14px;
  }
  .vectary .tech_speck {
    max-width: 580px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
    border-radius: unset;
    border: none;
    background: none;
    backdrop-filter: none;
  }
  .vectary .tech_speck div[class^=tech_speck-] {
    background: linear-gradient(290deg, rgba(161, 159, 174, 0.8) 0%, rgba(172, 170, 186, 0.8) 100%);
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    max-width: 208px;
    width: 100%;
  }
  .vectary .tech_speck div[class^=tech_speck-] p {
    line-height: 20.5px;
  }
  .vectary .tech_speck div[class^=tech_speck-]:not(:last-child) {
    border-right: unset;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(odd) + div[class^=tech_speck-] {
    border-radius: 20px 0 0 20px;
    border-right: 2px solid #b9b8c4;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(2),
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(3) {
    border-bottom: 2px solid #b9b8c4;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(3):before {
    content: none;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(2):after {
    bottom: -3px;
    left: 10px;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(4):before {
    top: -4px;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(2):before,
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(4):before,
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(4):after {
    right: -4px;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(3):after {
    bottom: -3px;
    right: 10px;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(even) + div[class^=tech_speck-] {
    border-radius: 5px 20px 20px 5px;
  }
  .vectary .tech_speck div[class^=tech_speck-] p {
    font-size: 16px;
  }
}
@media (max-width: 540px) {
  .vectary .tech_speck {
    transform: translate(-50%, 94%);
    transition: all 0.5s ease;
  }
  .vectary .tech_speck.active {
    transform: translate(-50%, 0);
  }
  .vectary .tech_speck div[class^=tech_speck-]:first-child {
    display: flex;
    padding: 15px 30px;
  }
  .vectary .tech_speck .tech_speck-click .tech_speck-img {
    transform: rotate(-180deg);
    transition: all 0.5s ease;
  }
  .vectary .tech_speck .tech_speck-click .tech_speck-img.active {
    transform: rotate(0);
  }
  .vectary .tech_speck div[class^=tech_speck-] {
    max-width: unset;
    margin: 0 20px;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(odd) + div[class^=tech_speck-] {
    border-right: unset;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(even) + div[class^=tech_speck-],
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(odd) + div[class^=tech_speck-],
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(odd),
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(even) {
    border-radius: 20px;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(odd) {
    border-right: unset;
  }
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(1),
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(3),
  .vectary .tech_speck div[class^=tech_speck-]:nth-child(4) {
    border-bottom: 2px solid #b9b8c4;
  }
  .vectary .tech_speck div[class^=tech_speck-]:not(:last-child):before,
  .vectary .tech_speck div[class^=tech_speck-]:not(:last-child):after {
    content: "";
  }
  .vectary .tech_speck div[class^=tech_speck-]:not(:last-child):before {
    bottom: -3px;
    right: 10px;
    left: unset;
    top: unset;
  }
  .vectary .tech_speck div[class^=tech_speck-]:not(:last-child):after {
    bottom: -3px;
    right: unset;
    left: 10px;
    top: unset;
  }
}
@media (max-width: 440px) {
  .vectary .interior_button {
    left: 50%;
    transform: translateX(-50%);
  }
}
section {
  scroll-snap-align: start;
}

section#pier-description,
section#sinichka-section,
section#pier-routes {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#pier-faq.video_active,
section#pier-routes.video_active,
section#sinichka-section.video_active,
footer#footer.video_active {
  display: none;
}

section#pier-description.fixed {
  position: fixed;
  top: 0;
  z-index: -1;
}

.section-video {
  position: fixed !important;
}

.sinichka_fixed {
  height: 100vh;
  width: 100%;
  position: sticky;
  z-index: 15;
}

@media (max-width: 1200px) {
  section#pier-description,
  section#pier-routes {
    height: auto;
    display: block;
  }
}
@media (max-height: 1000px) {
  section#pier-description,
  section#pier-routes {
    height: max-content;
  }
}

/*# sourceMappingURL=style.css.map */
