section {
  scroll-snap-align: start;
}

section#pier-description,
section#sinichka-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#pier-faq.video_active,
section#pier-routes.video_active,
section#sinichka-section.video_active,
footer#footer.video_active {
  display: none;
}

section#pier-description.fixed {
  position: fixed;
  top: 0;
  z-index: -1;
}

.site_content {
  //display: none;
  position: relative;
}

.section-video {
  position: fixed !important;
}

.sinichka_fixed {
  height: 100vh;
  width: 100%;
  position: sticky;
  z-index: 15;
}

@media (max-width: 900px) {
  section#pier-description, {
    height: auto;
    width: 100%;
    display: block;
  }
}


