$colors: (
  grey: #9794A6,
  secondary-grey: #D1D1D1,
  light-grey: #A19FAE,
  dark-grey: #7A768D,
  white: #FFFFFF,
  black: #000000,
  asphalt: #403F3C,
);

$breakpoints: (
  desktop: 1400px,
  desktop-semi: 1200px,
  horizTab: 1024px,
  vertTab: 900px,
  mobile: 440px,
);