//.vectary {
//  position: relative;
//  display: none;
//  //height: 800px;
//  height: 0;
//  opacity: 0;
//  transition: all .4s;
//}

.vectary {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //transition: all .4s;
}

// Второй вариант кнопок

.vectary .tech_speck {
  position: absolute;
  display: flex;
  left: 80px;
  bottom: 62px;
  border-radius: 20px;
  border: 2px solid #b9b8c4;
  background: linear-gradient(290deg, rgba(161, 159, 174, 0.80) 0%, rgba(172, 170, 186, 0.80) 100%);
  backdrop-filter: blur(10px);
}

.vectary .tech_speck div[class^="tech_speck-"] {
  padding: 32px 50px 32px 30px;
  display: flex;
  align-items: center;
}

.vectary .tech_speck .tech_speck-click {
  display: none !important;
}

.vectary .tech_speck div[class^="tech_speck-"] p {
  font-family: "MoscowSans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #FFF;
  margin: 0;
}

.vectary .tech_speck div[class^="tech_speck-"] p.tech_speck-title {
  font-weight: 300;
}

.vectary .tech_speck div[class^="tech_speck-"] p.tech_speck-text {
  font-weight: 800;
}

.vectary .tech_speck div[class^="tech_speck-"]:not(:last-child) {
  border-right: 1px solid #b9b8c4;
  position: relative;
}

.vectary .tech_speck div[class^="tech_speck-"]:not(:last-child):before,
.vectary .tech_speck div[class^="tech_speck-"]:not(:last-child):after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FFFFFF;
  right: -3px;
}

.vectary .tech_speck div[class^="tech_speck-"]:not(:last-child):before {
  top: -2px;
}

.vectary .tech_speck div[class^="tech_speck-"]:not(:last-child):after {
  bottom: -2px;
}

.vectary .interior_button {
  position: absolute;
  bottom: 64px;
  right: 80px;
  padding: 42px;
  border: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.70);
  display: flex;
  align-items: center;
  font-family: "MoscowSans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
  transition: 0.7s;
}

.vectary .interior_button img {
  margin-right: 8px;
  transition: transform 0.7s ease;
}

.vectary .interior_button:hover {
  background: url('/public/images/sepia.png'), #000000;
}

//.vectary .interior_button:hover img {
//  transform: rotate(-30deg) translateZ(0);
//}





@media (max-width: 1440px) {
  .vectary .tech_speck {
    left: 40px;
    bottom: 31px;
  }

  .vectary .tech_speck div[class^="tech_speck-"] {
    padding: 20px 30px 20px 20px;
  }

  .vectary .interior_button {
    bottom: 41px;
    right: 40px;
    padding: 22px;
  }
}

@media (max-width: 1200px) {
  .vectary .tech_speck div[class^="tech_speck-"] p {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .vectary .tech_speck {
    left: 30px;
    bottom: 30px;
  }

  .vectary .tech_speck div[class^="tech_speck-"] {
    padding: 30px;
  }

  .vectary .interior_button {
    padding: 24px 30px;
    font-size: 15px;
    left: 24px;
    top: 30px;
    bottom: unset;
    right: unset;
  }
}

@media (max-width: 840px) {
  .vectary .tech_speck div[class^="tech_speck-"] {
    padding: 14px;
  }

  .vectary .tech_speck div[class^="tech_speck-"] p {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .vectary .interior_button {
    padding: 10px 30px;
    font-size: 14px;
  }

  .vectary .tech_speck {
    max-width: 580px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);

    border-radius: unset;
    border: none;
    background: none;
    backdrop-filter: none;
  }

  .vectary .tech_speck div[class^="tech_speck-"] {
    background: linear-gradient(290deg, rgba(161, 159, 174, 0.80) 0%, rgba(172, 170, 186, 0.80) 100%);
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    max-width: 208px;
    width: 100%;
  }

  .vectary .tech_speck div[class^="tech_speck-"] p {
    line-height: 20.5px;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:not(:last-child) {
    border-right: unset;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(odd) + div[class^="tech_speck-"] {
    border-radius: 20px 0 0 20px;
    border-right: 2px solid #b9b8c4;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(2),
  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(3){
    border-bottom: 2px solid #b9b8c4;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(3):before {
    content: none;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(2):after {
    bottom: -3px;
    left: 10px;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(4):before {
    top: -4px;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(2):before,
  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(4):before,
  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(4):after {
    right: -4px;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(3):after {
    bottom: -3px;
    right: 10px;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(even) + div[class^="tech_speck-"] {
    border-radius: 5px 20px 20px 5px;
    //z-index: -1;
  }

  .vectary .tech_speck div[class^="tech_speck-"] p {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .sinichka_fixed .vectary .container {
    position: static;
  }

  .vectary .tech_speck {
    transform: translate(-50%, 94%);
    transition: all .5s ease;
  }

  .vectary .tech_speck.active {
    transform: translate(-50%, 0);
  }

  .vectary .tech_speck div[class^="tech_speck-"]:first-child {
    display: flex !important;
    padding: 15px 30px;
  }

  .vectary .tech_speck .tech_speck-click .tech_speck-img {
    transform: rotate(-180deg);
    transition: all .5s ease;
  }

  .vectary .tech_speck .tech_speck-click .tech_speck-img.active {
    transform: rotate(0);
  }

  .vectary .tech_speck div[class^="tech_speck-"] {
    max-width: unset;
    margin: 0 20px;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(odd) + div[class^="tech_speck-"] {
    border-right: unset;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(even) + div[class^="tech_speck-"],
  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(odd) + div[class^="tech_speck-"],
  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(odd),
  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(even) {
    border-radius: 20px;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(odd) {
    border-right: unset;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(1),
  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(3),
  .vectary .tech_speck div[class^="tech_speck-"]:nth-child(4) {
    border-bottom: 2px solid #b9b8c4;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:not(:last-child):before,
  .vectary .tech_speck div[class^="tech_speck-"]:not(:last-child):after {
    content: '';
  }

  .vectary .tech_speck div[class^="tech_speck-"]:not(:last-child):before {
    bottom: -3px;
    right: 10px;
    left: unset;
    top: unset;
  }

  .vectary .tech_speck div[class^="tech_speck-"]:not(:last-child):after {
    bottom: -3px;
    right: unset;
    left: 10px;
    top: unset;
  }
}

@media (max-width: 440px) {
  .vectary .interior_button {
    left: 50%;
    transform: translateX(-50%);
  }
}














