.video_content {
  position: relative;
}

// Колесо прокрутеи

.video_content .mouse_prev .mouse_prev-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 74px;
  width: 25px;
  height: 40px;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
}

.video_content .mouse_prev .mouse_prev-wrapper .mouse_prev_arrow {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.video_content .mouse_prev .mouse_prev-wrapper .mouse_prev_arrow img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  animation: mouse_arrow 1.1s linear infinite;
}

.video_content .mouse_prev .mouse_prev-wrapper .mouse_prev_dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: #FFFFFF;
}

@keyframes mouse_arrow {
  0% {
    top: 5px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 5px;
  }
}


// Кнопка причалить

.video_content .leave_button {
  position: absolute;
  top: 82px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.video_content .leave_button button {
  font-family: "MoscowSans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding: 0;
  color: white;
  background: transparent;
  cursor: pointer;
}


// Карточки с информацией

.video_content .info_block,
.video_content .mouse_prev {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.video_content .info_block .card {
  position: absolute;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-radius: 20px;
  background: linear-gradient(292deg, rgba(161, 159, 174, 0.50) 0%, rgba(172, 170, 186, 0.50) 100%);
  backdrop-filter: blur(10px);
  bottom: 144px;
  left: 50%;
  transform: translateX(-50%);
}

//.video_content .info_block.snow .card {
//  bottom: 144px;
//  left: 50%;
//  transform: translateX(-50%);
//}
//
//.video_content .info_block.ejection .card {
//  left: 25%;
//  transform: translateX(-75%);
//  bottom: 144px;
//}
//
//.video_content .info_block.capacity .card {
//  bottom: 240px;
//  left: 50%;
//  transform: translateX(-50%);
//}
//
//.video_content .info_block.moorings .card {
//  top: 120px;
//  left: 75%;
//  transform: translateX(-25%);
//}

.video_content .info_block .card .card_marker {
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.40);
}

.video_content .info_block .card .card_marker .card_marker-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video_content .info_block .card .card_descr .card_descr-text,
.video_content .info_block .card .card_descr .card_descr-title {
  font-family: "MoscowSans", sans-serif;
  margin: 0;
}

.video_content .info_block .card .card_descr .card_descr-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 600;
  color: #ffffff;
}

.video_content .info_block .card .card_descr .card_descr-text {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #CBCBCD;
  margin-bottom: 10px;
}


//Видео блок в контенте
.section-video {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}

.section-video_active {
  display: block;
}